{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New</title>
  {{form.media}}

{% block styles %}
 {% bootstrap_css %}
 {% endblock %}

</head>
{% include "navbar.html" %}

<center><div  style="background-color:grey; height:100vh; padding: 20px">
<div class="card-header">
 
<div class="card-body">
  <form  action="{%url 'new_neighbour'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-primary btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</div>
</div>
</div></center>
 
