{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row" >
 {% if neighbour %}
 {% for pic in neighbour %}

 <div class="col-md-3" style='border:1px solid black; margin:20px'>



   <img src="{{pic.area.cdn_url}}"  class='img-responsive'
     alt="neighbourhood" style='margin-top:10px;'>
   <!-- <figcaption> -->
 <h3>Name: {{pic.name}}</h3>
 <h3>Location: {{pic.location}}</h3>
<h3>Population: {{pic.occupants_count}}</h3>
 
<a href="{%url 'show' pic.id %}"><button type="button" class="btn btn-outline-success" style="padding:1px;">ADD A Bussiness</button></a>


  

 </div>
   {% endfor %}
 </div>
</div>



      {% else %}
      <h2>Nothing has been posted for now</h2>
      {% endif %}


{% endblock %}      